iv>v>
</ddi/div>
  </
    <   </div>  </button>
    
        Cerrar
       0">rder-gray-30rs border boion-coloitrans tgray-200over:bg-unded-lg h700 roray--g100 text-gray--2 bgpy"px-6     class=    
  "close()"lick)=(c
          utton 
        <bon>      </butt
  ditar      E>
    de-iconci/lu4"><="w-4 h-ssitIcon" cla]="edcon [imgcide-ilu          <">
hadow-smrs scoloion- transitray-700g hover:bg-gded-lounite r00 text-wh-2 bg-gray-6ap-2 px-4 py-center g"flex items      class=()"
    armacyeditPhlick)="          (c
  <button       gap-3">
ss="flex    <div clan>
   to      </butormación
ortar inf     Expicon>
   lucide-4 h-4"></"w-" class=nloadIcon]="dow [imgonic  <lucide-   m">
   w-slors shadoon-co0 transitiue-70over:bg-blrounded-lg hte  text-whi-600-2 bg-blue-4 pyter gap-2 px-centemsflex i"s=clas"
        rmacyInfo()tPhaporex (click)="
       ton ut">
      <bxlunded-b--50 robg-grayay-200 gr border-er-t p-6 bordterms-cenbetween itefy-flex justilass="<div c
    ter -->dal Foo Mo    <!--</div>


    >   </div </div>
   
       iv>     </d
     s }}</p>acione.observcy>{{ pharmaay-900"m text-gr="text-s   <p class
         label>s</vacioneser>Ob"500text-gray-ium  font-medxt-smass="tel cl <labe        nes">
   cioobservacy."pharma=div *ngIf         <   </div>
 >
        </p           ) }}
echaRegistro(pharmacy.f{ formatDate        {n>
      /lucide-icogray-400">< text-4 h-4="w-Icon" classalendar]="c[imgucide-icon          <l1">
     er gap--cent flex itemsext-gray-900t-sm tclass="tex         <p 
   abel>/ltro<isa de Regch00">Fey-5ium text-grant-med fo="text-sml class      <labediv>
             <iv>
        </d
     o }}</p>horari{ pharmacy.900">{gray- text-ss="text-sm cla <p       
    bel>ión</lario de AtencHora">ay-500ext-grdium t font-me"text-smbel class=       <lav>
              <di-4">
 ="space-yv class<di>
           </h3   icional
  mación Ad   Infor   >
    e-icon"></lucidxt-gray-600"w-5 h-5 te class="clockIcon [img]="icon<lucide-      ">
    ap-2center g flex items-00 mb-4 text-gray-9t-semiboldext-lg fon"t=ass      <h3 cl">
  g p-4rounded-l"bg-gray-50 ss= claiv  <d    >
dicional --rmación anfo- I    <!-

  div>   </v>
   di       </iv>
        </d   /p>
sable }}<ponReslarmacy.cedu{{ pha-mono">y-900 fonttext-gra-sm ass="text    <p cl      abel>
  a</l-500">Cédulxt-graytet-medium m fonss="text-s <label cla     >
      iv      <d>
        </div      >
}</pble }responsaharmacy.">{{ pray-900t-gemibold tex-sm fonts="text-s<p clas     
       >label</ Completo00">Nombre-5um text-grayedi-sm font-m"textass= cllabel    <        <div>
        p-4">
  ols-2 ga grid-cidgrclass="  <div         </h3>
      co
utimacée Far      Regent
    con>lucide-i"></gray-600-5 h-5 text-ss="wcla" conserI[img]="ue-icon ucid      <l
    ap-2">s-center gex item fl-4900 mbt-gray-d text-semibolon f"text-lgclass=  <h3      p-4">
 ded-lg roun"bg-gray-50 s=clas<div ->
      macéutico -fare  <!-- Regent     </div>

 /div>
           <  </div>
  
        </p>       }}
     email cy.pharma       {{   icon>
     </lucide-">xt-gray-400"w-4 h-4 te class=on"ilIc[img]="malucide-icon    <          ">
 p-1ganter -ceitems900 flex ray--gm textxt-s"tes=   <p clas         
l</label>0">Emaiext-gray-50ont-medium t-sm f="textbel classla   <
                <div>iv>
     </d        </p>
           ono }}
 elef{ pharmacy.t {    
         n>de-ico/luciay-400"><-gr4 h-4 textss="w-n" cla]="phoneIcon [imglucide-ico        <1">
      r gap-items-centeex  flgray-900t-m tex="text-s   <p class
         el>ono</lab">Teléf500ext-gray-dium tsm font-metext-s="clasel  <lab        v>
       <di     >
 -4"ols-2 gap"grid grid-c=v class <di
       h3>
        </e Contactoación d  Inform       
 e-icon>cid00"></lugray-6 text--5 h-5lass="weIcon" cg]="phonon [im  <lucide-ic
        "> gap-2erms-centlex ite-4 f00 mb-9ld text-graymiboont-selg fext-class="t    <h3 ">
    -lg p-4ed round-gray-50"bgdiv class=
      <-->ntacto ación de coorm<!-- Inf>

      /div>
      </div
        <v>di   </      
 ica }}</p>cifeccionEspearmacy.dir">{{ phext-gray-900 t"text-sm=lass c    <p     /label>
   ífica<ión EspecccDire">t-gray-500ium texm font-med="text-sss  <label cla          <div>
 
             </div>
         </p>      y) }}
   harmacrPharmacy(pllLocationFo    {{ getFu    con>
      /lucide-i400"><ray--4 text-g"w-4 h class=pPinIcon"[img]="maicon cide-       <lu     ">
   gap-1-centerems flex it-900ayt-sm text-grs="tex  <p clas         
 /label>bicación<500">U-gray-textont-medium m fxt-slass="te c      <label      <div>
         ">
 ce-y-4"spass=iv cla       <d    </h3>
 a
    ficográbicación Ge
          Un>lucide-ico"></-gray-600 h-5 textw-5lass="" c"mapPinIcong]=[imde-icon  <luci       
  >-2"s-center gapflex item00 mb-4  text-gray-9miboldt-se"text-lg fon=lass   <h3 c-4">
     lg pded-rouny-50 ss="bg-gradiv cla
      <>bicación -- U    <!--div>

  
      </</div>           </div>
     }</p>
  mbre }pharmacy.noay-900">{{ bold text-grnt-semifo"text-lg p class=      <>
      ombre</label500">Ntext-gray-t-medium t-sm fonclass="texabel  <l        
   ">n-2"col-spaclass=div   <      iv>
    </d     >
          </div>
     span</              do) }}
estacy.armabel(phusLaStat{ get        {     n>
   /spa.estado)"><ss(pharmacylaatusDotCss]="getSt" [ngCla-1.5ed-full mr-2 roundw-2 hss="an cla   <sp    
         estado)">cy.ass(pharmatatusBadgeCl]="getS  [ngClass              dium"
     font-mext-xsteunded-full .5 rox-2.5 py-0r pntes-cee-flex item"inlin class=  <span       ">
     ass="mt-1iv cl  <d          l>
Estado</labegray-500">ium text-medext-sm font-"tbel class=la  <   
             <div></div>
         </p>
     y.codigo }}rmaco">{{ phat-mon0 fon90ay-xt-gr tent-semiboldfoext-sm  class="t        <p  
  o</label>>Códiggray-500"m text-nt-mediut-sm fo="texassl cl  <labe              <div>

      -4">2 gap grid-cols-id"grv class=      <di  
/h3>
        <ón Básicanformaci
          Icide-icon>lu-600"></-graytext5 h-5 ss="w-" claconileTextImg]="f[ion  <lucide-ic>
         p-2" ga-centeritemsex 4 flb-00 may-9 text-grsemiboldont--lg ftext"s=    <h3 clas
    ">nded-lg p-4 rouay-50"bg-grclass=
      <div ->sica -ión bá- Informac
      <!-">
      -y-6aces="p-6 spv clas>
    <diody --<!-- Modal Bv>

    </di>
    on      </buttcide-icon>
/luxt-white"><-5 te"w-5 hlass=on" c [img]="xIcconde-i <luci">
       Cerrar  title="     ors"
 olition-cd-lg transoundeite/20 r:bg-wher-2 hovss="p       cla
 close()"k)="clic   (
     tton >
      <bu</div  /div>
            <p>
mbre }}</macy.noa de {{ pharión completmacfor0">Intext-white/9-sm ="text    <p class      /h2>
armacia<talles de Fe">Det-whitd texl font-bol"text-x <h2 class=        <div>
 >
        </div  
      e-icon>te"></lucidt-whi6 tex"w-6 h-ss=n" claIco"buildingmg]= [i<lucide-icon     
     ">op-blur-smbackdrg ounded-l r-2-white/20 pss="bg    <div cla    3">
center gap-s-itemass="flex     <div cl">
  mportant; none !ibottom:nt; border-one !importader: n8 100%); bord4ed%, #1b82f6 50, #3 #2563eb 0%deg,ient(135 linear-grad"background:   style= 
      ite"whxt-d-t-xl te p-6 roundefy-betweener justi items-cent="flex  <div class-->
  odal Header 
    <!-- M   armacy">
 "phgIf=" *nation()pagstopProent.k)="$evic       (clortant;"
!imp, 0, 0.25)  012px rgba(0,25px 50px -adow: 0 ant; box-shport5e7eb !imd #e 1px solirder:tyle="bo       s
-y-auto"rflowvh] ovex-h-[90w-full maw-2xl w-2xl max--xl shadoe roundedwhitlass="bg-div ct -->
  <Conten <!-- Modal 
 ent)">
  Click($evckdrop)="onBaick"
     (cler z-50 p-4y-centstif juerems-cent flex itty-50 bg-opaciack bg-bl inset-0"fixed  class=en" 
   f="isOp
<div *ngI -->l Backdrop<!-- Moda